@model ShopApplication.Models.ForgetPasswordDto

@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="wrap-account-pic col-lg-6 col-md-6 hidden-sm hidden-xs" style="background-image: url(../../Images/Site/Forget.png)">

</div>


<div class="account-form col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <span class="account-form-title">
        تغییر کلمه عبور
    </span>
    <form asp-action="ForgetPassword">
        <div class="wrap-input-account">
            <div class="form-group">
                <input asp-for="UserCode" class="input-account" placeholder="کد تائید " />
                <span class="focus-account"></span>
                <span asp-validation-for="UserCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Password" type="password" class="input-account" placeholder=" کلمه عبور" />
                <span class="focus-account"></span>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="RePassword" type="password" class="input-account" placeholder=" تائید کلمه عبور" />
                <span class="focus-account"></span>
                <span asp-validation-for="RePassword" class="text-danger"></span>
            </div>



        </div>
        <div class="container-button">
            <button class="account-button" type="submit">
                تغییر
            </button>
        </div>
    </form>

</div>
