
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="wrap-account-pic col-lg-6 col-md-6 hidden-sm hidden-xs" style="background-image:url(../../Images/Site/Activate.png)">
    
</div>

<div class="account-form col-lg-6 col-md-6 col-sm-12 col-xs-12">
<span class="account-form-title">
    فرم عضویت
</span>
    <div class="wrap-input-account">
        <input type="text" class="input-account" placeholder="شماره موبایل" />
        <span class="focus-account"></span>
    </div>
    <div class="container-button">
        <button class="account-button">
            ثبت نام
        </button>
    </div>
</div>

