@page "{id}"
@model ShopApplication.Pages.Admin.Menu.DeleteModel
@{
}
<form method="post">
    <div class="col-md-8 col-sm-8 col-xs-8">
        <input type="hidden" asp-for="MenuDto.Id" />
        @*<input type="hidden" asp-for="MenuDto.Name" />*@
        
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    حذف منو

                </h2>

                <div class="clearfix"></div>
                <hr />
            </div>
            <div class="x_content">
                <div class="row">

                    <div class="alert alert-danger ">
                        <p>آیا میخواهید  " @Model.MenuDto.Name " را حذف نمایید ؟</p>
                    </div>


                    <hr class="col-md-12" />
                    <div class="item form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-5">

                            <input type="submit" class="btn btn-danger" value="حذف" />
                            <a asp-page="Index" class="btn btn-info">انصراف</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</form>