@page
@model ShopApplication.Pages.Admin.SmsSettingsModel
@{
}
<div><h2>تنظیمات پیامک سایت</h2></div>
<hr />
<form method="post">
    <div class="col-md-12 col-sm-8 ">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="smsSettingsDto.SmsServiceNumber">شماره سرویس پیامک</label>
            <input asp-for="smsSettingsDto.SmsServiceNumber" class="form-control" />
            <span asp-validation-for="smsSettingsDto.SmsServiceNumber" class="text-danger"></span>

        </div>


        <div class="form-group">
            <label asp-for="smsSettingsDto.SmsServiceUserName">نام کاربری سرویس پیامک</label>
            <input asp-for="smsSettingsDto.SmsServiceUserName" class="form-control" />
            <span asp-validation-for="smsSettingsDto.SmsServiceUserName" class="text-danger"></span>

        </div>


        <div class="form-group">
            <label asp-for="smsSettingsDto.SmsServicePassword">کلمه عبور سرویس پیامک</label>
            <input asp-for="smsSettingsDto.SmsServicePassword" class="form-control" />
            <span asp-validation-for="smsSettingsDto.SmsServicePassword" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="smsSettingsDto.FactorIsSend">ارسال پیامک بعد از صدور فاکتور</label>
            <input asp-for="smsSettingsDto.FactorIsSend" type="checkbox" style="margin-right:10px;" />

        </div>
        <div class="form-group">
            <label asp-for="smsSettingsDto.PayIsSend">ارسال پیامک بعد از پرداخت</label>
            <input asp-for="smsSettingsDto.PayIsSend" type="checkbox" style="margin-right:10px;" />
        </div>
        <div class="form-group">
            <input class="btn btn-success btn-block" value="ثبت" type="submit" />

        </div>
    </div>

</form>