@model ShopApplication.Models.ChangePasswordDto
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<div >
    <h2 >
        تغییر کلمه عبور
    </h2>
 </div>
<hr />
    <form asp-action="ChangePassword">
        <div class="col-md-12 col-sm-8 ">
            <div class="form-group">
                <label asp-for="OldPassword">کلمه عبور جاری</label>
                <input asp-for="OldPassword" type="password" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">کلمه عبور جدید</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RePassword">تکرار کلمه عبور جدید</label>
                <input asp-for="RePassword" type="password" class="form-control" />
                <span asp-validation-for="RePassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input class="btn btn-success" value="تغییر" type="submit" />
                

            </div>

        </div>
      
    </form>



