@*@model ShopApplication.Models.ShoppingCartDto*@
<div>
    <form method="post" asp-controller="Home" asp-action="AddToBasket">
        <input type="hidden" name="productid" value="@ViewData["productId"]" />
        <div class="form-group">
            <label>تعداد</label>
            <input type="number"
                   min="1"
                   max="@ViewData["productqty"]"
                   id="productCount"
                   name="productCount"
                   style="width: 30%; margin:10px;" />
        </div>
        <div class="form-group">
            
         <input type="submit" class="btn btn-outline-success btn-block"  value="افزودن به سبد خرید" />
           
        </div>
    </form>
</div>
